
   
<table id="clickable_map" cellspacing="1">
<tbody><tr>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td colspan="2" id="hokkaido" class="char3" style="line-height: 17px; height: 20px;"><a href="http://www.beer.gr.jp/member/#area1" class="hokkaido" style="padding: 1px 0px; line-height: 17px; font-size: 14px;">北<br style="display: none;">海<br style="display: none;">道</a></td>
</tr>
<tr>
	<td id="dummy" colspan="13" style="height:2px; line-height:2px;"></td>
</tr>
<tr>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td colspan="2" class="colspan_2" style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area2" class="touhoku" style="line-height: 17px; padding: 1px 0px;">青<br style="display: none;">森</a></td>
</tr>
<tr>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area2" class="touhoku" style="line-height: 17px; padding: 1px 0px;">秋<br style="display: none;">田</a></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area2"class="touhoku" style="line-height: 17px; padding: 1px 0px;">岩<br style="display: none;">手</a></td>
</tr>
<tr>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td rowspan="2" class="rowspan_2" style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area6" class="chubu" style="padding: 1px 0px; line-height: 36px;">石<br style="display: none;">川</a></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area2" class="touhoku" style="line-height: 17px; padding: 1px 0px;">山<br style="display: none;">形</a></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area2" class="touhoku" style="line-height: 17px; padding: 1px 0px;">宮<br style="display: none;">城</a></td>
</tr>
<tr>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area10" class="kyushu" style="line-height: 17px; padding: 1px 0px;">沖<br style="display: none;">縄</a></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area6" class="chubu" style="line-height: 17px; padding: 1px 0px;">富<br style="display: none;">山</a></td>
	<td colspan="2" class="colspan_2" style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area3" class="chubu" style="line-height: 17px; padding: 1px 0px;">新<br style="display: none;">潟</a></td>
	<td colspan="2" class="colspan_2" style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area2" class="touhoku" style="line-height: 17px; padding: 1px 0px;">福<br style="display: none;">島</a></td>
</tr>
<tr>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area6" class="chubu" style="line-height: 17px; padding: 1px 0px;">福<br style="display: none;">井</a></td>
	<td rowspan="2" class="rowspan_2" style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area5" class="chubu" style="padding: 1px 0px; line-height: 36px;">岐<br style="display: none;">阜</a></td>
	<td rowspan="2" class="rowspan_2" style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area3" class="chubu" style="padding: 1px 0px; line-height: 36px;">長<br style="display: none;">野</a></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area3" class="kantou" style="line-height: 17px; padding: 1px 0px;">群<br style="display: none;">馬</a></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area3" class="kantou" style="line-height: 17px; padding: 1px 0px;">栃<br style="display: none;">木</a></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area3" class="kantou" style="line-height: 17px; padding: 1px 0px;">茨<br style="display: none;">城</a></td>
</tr>
<tr>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area8" class="chugoku" style="line-height: 17px; padding: 1px 0px;">島<br style="display: none;">根</a></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area8" class="chugoku" style="line-height: 17px; padding: 1px 0px;">鳥<br style="display: none;">取</a></td>
	<td rowspan="2" class="rowspan_2" style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area7" class="kinki" style="padding: 1px 0px; line-height: 36px;">兵<br style="display: none;">庫</a></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area7" class="kinki" style="line-height: 17px; padding: 1px 0px;">京<br style="display: none;">都</a></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area7" class="kinki" style="line-height: 17px; padding: 1px 0px;">滋<br style="display: none;">賀</a></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area4" class="chubu" style="line-height: 17px; padding: 1px 0px;">山<br style="display: none;">梨</a></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area4" class="kantou" style="line-height: 17px; padding: 1px 0px;">埼<br style="display: none;">玉</a></td>
	<td rowspan="2" class="rowspan_2" style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area4" class="kantou" style="padding: 1px 0px; line-height: 36px;">千<br style="display: none;">葉</a></td>
</tr>
<tr>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area10" class="kyushu" style="line-height: 17px; padding: 1px 0px;">佐<br style="display: none;">賀</a></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area10" class="kyushu" style="line-height: 17px; padding: 1px 0px;">福<br style="display: none;">岡</a></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area8" class="chugoku" style="line-height: 17px; padding: 1px 0px;">山<br style="display: none;">口</a></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area8" class="chugoku" style="line-height: 17px; padding: 1px 0px;">広<br style="display: none;">島</a></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area8" class="chugoku" style="line-height: 17px; padding: 1px 0px;">岡<br style="display: none;">山</a></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area7" class="kinki" style="line-height: 17px; padding: 1px 0px;">大<br style="display: none;">阪</a></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area7" class="kinki" style="line-height: 17px; padding: 1px 0px;">奈<br style="display: none;">良</a></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area5" class="chubu" style="line-height: 17px; padding: 1px 0px;">愛<br style="display: none;">知</a></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area5" class="chubu" style="line-height: 17px; padding: 1px 0px;">静<br style="display: none;">岡</a></td>
	<td class="char3" style="height: 20px;"><a href="sub.html?ken=09" class="kantou" style="padding: 1px 0px; line-height: 17px; font-size: 14px;">神<br style="display: none;">奈<br style="display: none;">川</a></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area4" class="kantou" style="line-height: 17px; padding: 1px 0px;">東<br style="display: none;">京</a></td>
</tr>
<tr>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area10" class="kyushu" style="line-height: 17px; padding: 1px 0px;">長<br style="display: none;">崎</a></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area10" class="kyushu" style="line-height: 17px; padding: 1px 0px;">大<br style="display: none;">分</a></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td class="char3" style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area7" class="kinki" style="padding: 1px 0px; line-height: 17px; font-size: 14px;">和<br style="display: none;">歌<br style="display: none;">山</a></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area5" class="chubu" style="line-height: 17px; padding: 1px 0px;">三<br style="display: none;">重</a></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
</tr>
<tr>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area10" class="kyushu" style="line-height: 17px; padding: 1px 0px;">熊<br style="display: none;">本</a></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area10" class="kyushu" style="line-height: 17px; padding: 1px 0px;">宮<br style="display: none;">崎</a></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area9" class="shikoku" style="line-height: 17px; padding: 1px 0px;">愛<br style="display: none;">媛</a></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area9" class="shikoku" style="line-height: 17px; padding: 1px 0px;">香<br style="display: none;">川</a></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
</tr>
<tr>
	<td colspan="2" class="colspan_2 char3" style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area10" class="kyushu" style="padding: 1px 0px; line-height: 17px; font-size: 14px;">鹿<br style="display: none;">児<br style="display: none;">島</a></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area9" class="shikoku" style="line-height: 17px; padding: 1px 0px;">高<br style="display: none;">知</a></td>
	<td style="height: 20px;"><a href="http://www.beer.gr.jp/member/#area9" class="shikoku" style="line-height: 17px; padding: 1px 0px;">徳<br style="display: none;">島</a></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
	<td style="height: 20px;"></td>
</tr>
</tbody></table>