<h2><%= @prefecture.name %></h2>

  <div class="prefecture__search">
    <div class="prototype__image_prefecture">
  
    <% @images.each do |image| %>
          <%= render partial: "image", locals: { image: image } %>
    <% end %>
   </div>
  </div>
